.image-ada {
    width: 100%;
    height: 40em;
    -webkit-mask-image: linear-gradient(to top, transparent 1%, white 60%);
}

.text {
    padding: 20px;
    line-height: 40px;
    text-align: center;
}
