@import '../../stylesheets/_colors.scss';

.main_login {
	border-radius: 5px;
	width: 408px;
	height: 552px;
}
.color_gray {
	background: $color-dark-gray-02;
}

.forgot_password {
	color: $color-link-01;
	text-decoration: none;
}
.login_text {
	color: $color-light-01;
}

.ouline {
  display: flex;
  flex-direction: row;
  color: $color-light-01;
}
.ouline:before, .ouline:after{
  content: "";
  flex: 1 1;
  border-bottom: 1.5px solid #38373A;
  margin: auto;
}
.ouline:before {  
	margin-right: 16px
}
.ouline:after {	
	margin-left: 16px
}
.signup {
	color: $color-light-purple-01;
	margin-bottom: 110px;
	text-decoration: none;
}
.opacity_text {
	opacity: 0.8;
}

