@import '../../../../stylesheets/_colors.scss';
@import '../../../../stylesheets/_fonts.scss';

.projects-form-navbar-container {
    padding: 69px 40px;
    position: absolute;
    width: 319px;
    height: 1143px;

    .project-image {
        width: 242px;
        height: 201px;
        background-color: $color-dark-02;
        margin-bottom: 21px;
    }

    h4 {
        color: $color-light-02;
        margin-bottom: 81px;
    }

    .navbar-items {
        height: 240px;
        margin-bottom: 223px;

        .navbar-item {
            color: $color-dark-01;

            path,
            svg {
                margin-right: 15px;
                fill: $color-dark-01;
            }

            &:hover {
                color: $color-light-02;

                path {
                    fill: $color-light-02;
                }
            }
        }
    }

    .delete-button {
        background-color: $color-dark-01;
        margin-top: 24px;
    }
}
