@import '../../../stylesheets/_colors.scss';

.main_recover_intro {
	border-radius: 5px;
	width: 408px;
	height: 361px;
}
.color_gray {
	background: $color-dark-gray-02;
}

.opacity_text {
	opacity: 0.8;
}


