@import '../../stylesheets/_colors.scss';
@import '../../stylesheets/_fonts.scss';

.landing-page {
    height: 100vh;
}

.center-text {
    height: 100%;
    h1 {
        //color: $color-light-02;
        word-wrap: break-word;
        width: 55%;
        text-align: center;
    }

    p {
        //color: $color-primary-grey-00;
    }

    .center-buttons {
        margin-top: 66px;
        



    }
}

.center-button {
    margin-right: 24px;
}

.center-link {
    margin-left: 24px;
}