@import '../../../../App.scss';

.superior-menu-container {
    width: 620px;
    
    .external-links {
        color: $color-light-blue-01;
        &:hover {
            color: #00537d;
        }
    }


}