@import "../../../stylesheets/colors";
.back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    width: 180px;
    height: 56px;

    background: $color-light-blue-01;
    border: 2px solid $color-light-01;
    border-radius: 5px;

    color: $color-dark-01;
}

.back:hover{
    background: #00689c;
    color: $color-dark-01;
}