@import '../../../App.scss';


Input {
    margin-bottom: 14px;
}

.text-grey {
    color:$color-dark-01;
}

.font-weigth-400 {
    font-weight: 400;
}

.external-links {
    color: $color-light-blue-01;
    text-decoration: none;
    cursor: pointer;
}

.check-input {
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 0px 5px 0px 0px;
}

.space {
    justify-content: space-between;
}
