@import '../../stylesheets/_colors.scss';
@import '../../stylesheets/_fonts.scss';

.landing-header {
    height: 100px;
    padding: 49px 164px;
    background-color: $color-ligth-grey-01;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .group-header {
        div {
            padding: 0 32px;
        }

        img {
            margin-right: 10px;
        }
        
    }
}