/* primary */
$color-light-01: #f2f5ff;
$color-light-02: #f9faff;
$color-light-blue-01: #0099e5;
$color-dark-01: #040404;
$color-dark-02: #eeeff4;
$color-ligth-grey-01: #e1e3ed;
$color-warning-pink-01: #e40e82;