/* primary */
$color-light-01: #2d3250;
$color-light-02: #424769;
$color-light-blue-01: #ffb17a;
$color-dark-01: #040404;
$color-dark-02: #2d3250;
$color-ligth-grey-01: #424769;
$color-warning-pink-01: #424769;
$color-blue-hover: #ffb17a;