/* primary */
$color-dark-01: #f2f5ff;
$color-dark-gray-01: #040404;
$color-dark-gray-02: #141316; //nova
$color-medium-gray-01: #68b2a0;
$color-light-gray-01: #565656;

$color-light-01: #040404;
$color-light-02: #040404;
$color-primary-grey-00: #040404;

$color-dark-purple-01: #0099e5;
$color-purple-01: #697a98;
$color-light-purple-01: #ca5aff;

/* support colors */
$color-icon-like-01: #d30059;
$color-error-01: #eb44b8;
$color-status-bar-01: #5aff60;
$color-link-01: #0969da;
