@import '../../stylesheets/_colors.scss';

.header {
    height: 115px;
    background-color: white;
    box-shadow: 5px 5px 15px hsla(0, 0%, 58%, 0.114);
}

.search {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.loginButton {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}
.submitButton {
    border-radius:0 5px 5px 0;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control {
    border-radius:5px 0 0 5px;
}
.text-header {
	//color: $color-light-01;
}
