@import '../../stylesheets/_colors.scss';

.header {
    height: 80px;
    background-color: $color-ligth-grey-01;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}

.search {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.loginButton {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}
.submitButton {
    border-radius:0 5px 5px 0;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control {
    border-radius:5px 0 0 5px;
}
.text-header {
	//color: $color-light-01;
}
