@import '../../../../stylesheets/colors';


.project-container {
    border-radius: 8px;

    width: 400px;
    height: 550px;
    padding-top: 25px;
    box-shadow: 2px 2px 10px $color-ligth-grey-01;
    margin: auto;
}

.m-b-20 {
    margin-bottom: 30px;
}

.btn {
    color: white;
}