@import '../../stylesheets/_colors.scss';



.sign-up-container {
  .main_signup {
    border-radius: 5px;
    width: 408px;
    box-shadow: 2px 2px 10px $color-ligth-grey-01;

  }

  .color_gray {
    background: $color-light-02;
  }

  .forgot_password {
    color: $color-dark-02;
  }

  .login_text {
    color: $color-dark-01;
  }

  .ouline {
    display: flex;
    flex-direction: row;
    color: $color-dark-01;
  }

  .ouline:before,
  .ouline:after {
    content: "";
    flex: 1 1;
    border-bottom: 1.5px solid #38373A;
  }

  .ouline:before {
    margin-right: 16px
  }

  .ouline:after {
    margin-left: 16px
  }

  .signup {
    color: $color-light-blue-01;
    margin-bottom: 110px;
  }

  .opacity_text {
    opacity: 0.8;
  }
}

.card-plan {
  margin-top: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 30px;
    border-radius: 8px; 
}

.text-blue {
  color: $color-light-blue-01;
}