@import "../../../stylesheets/colors";

.continueGoogle{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    border: solid 2px $color-light-blue-01;
    padding: 0px 20px 0px 20px;
    width: 312px;
    height: 56px;
    background-color: #f2f5ff;
    color: $color-light-blue-01;
    border-radius: 5px;
}

.continueGoogle:hover{
    background-color: #0099e538;
}
